.week-container {
	margin: 1rem auto;
	max-width: 90vw;

	.ant-tabs-top > .ant-tabs-nav::before {
		border-bottom: 1px solid #acacac;
	}

	.ant-tabs-content-holder {
		border-left: 1px solid #acacac;
		border-right: 1px solid #acacac;

		padding: 16px;
	}
	.ant-tabs > .ant-tabs-nav {
		margin-bottom: 0;
	}

	.ant-tabs-tab.ant-tabs-tab-active {
		border: 1px solid #acacac;
	}

	.navigation-btns-container {
		border: 1px solid #acacac;
		border-top: none;
		padding-bottom: 1rem;
		display: flex;
		justify-content: space-around;
	}
}
